* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto';
    /* border: 1px solid ; */
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

/* Sidebar */

.sidebar {
    background-color: #4f8fd2;
    height: 100vh;    
}

.sidebar svg {
    height: 6vh;
    padding-left: 15px;
}

.sidebar h1 {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 500;
}

.general svg,
.help svg {
    height: 3vh;
}

.general > div,
.help > div{
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;

    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: center;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 40px;
}

.help {
    padding-top: 40px;
}

/* Homepage */
.homepage {
    background-color: #e2e7ef;
    height: 100vh;
    
    display: grid;
    grid-template-rows: 0.9fr 4.1fr;
}

/* Header */
.header {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header svg {
    fill: black;
    height:   3vh;
}

.top {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-content: center;
    
}

.search {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.search input {
    width: 45vw;
    height: 3.5vh;
    background-color: #e2e7ef;
    border: none;
    border-radius: 50px;
}

.top .profile {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}



/* Main-content */

.main-content {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
}

/* Projects */

.projects {
    background-color: #e1b330;
    padding: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #ffffff;
}

/* Extras */

.extras {

    padding: 40px;

    display: grid;
    grid-template-rows: 2fr 2fr;
    gap: 30px;
}

.announcements {
    background-color: #ffffff;
}

.trending {
    background-color: #ffffff;
}

/* Misc. */

svg {
    fill: #ffffff;
}

img {
    height: 5vh;
    width: 5vh;
    border-radius: 50px;
}

